# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
*.log

# environment variables
.env
.env.production

# lock files
bun.lock
bun.lockb
package-lock.json

# Bun
.bun/

#personal-documentation
md/
